<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
    <p>An error has occurred</p>
    <p>We are working to fix this, sorry for the inconvenience</p>
<%- include('includes/end.ejs') %>